---
// Import Stylesheet
import '../styles/global.css';



// data source
const source = 'https://www.csscolorsapi.com/api/colors';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Gallery</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					data.colors.map((color) => (
					<li class="card-item" style={{background : '#' + color.hex}}>
      <a href="#">
        <figure class="card">
          <figcaption class="caption">
            <h3 class="caption-title">{color.name}</h3>
            <p>{color.group}</p>
			<p>{color.hex}</p>
          </figcaption>
        </figure>
      </a>
    </li>
					))
				}

		  
			</ul>
		  </main>
		  


	</body>
</html>
